*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
}
body{
    width:100%;
    background-color: cyan;
}
.nav{
    height:10vmin;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(24, 24, 58);
    align-items: center;
    font-size:4vmin;
    position:fixed;
    top:0;
}
.nav-ele{
    padding:2vmin;
    transition:border-radius 1s ease-in-out 0s;
}
.nav-ele:hover{
    background-color: orange;
    border-radius:20vmin;
    cursor: pointer;;
}
.nav-ele:active{
    background-color: rgb(138, 95, 15);
}
a{
    text-decoration: none;
    color:white;
}
.head{
    position:relative;
    top:10vmin;
    font-size: 15vmin;
    text-align: center;
    background-image: url(back-img.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    z-index: -2;
}
main{
    margin-top:3vmin;
}
.products-container{
    padding:10vmin;
    display: flex;
    flex-direction: column;
}
.products{
    height:100%;
    padding:5vmin;
}
.product{
    height:50vmin;
    display:flex;
    margin:3vmin 0vmin;
    border:1px solid black;
    border-radius: 2vmin;
}
.side1{
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 162, 255);
}
.side2{
    height:100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}
.product img{
    height:100%;
}
.name{
    text-align: center;
    font-size: 5vmin;
    font-weight: 700;
}
.lab{
    font-size: 4vmin;
    font-weight: 500;
}
.value{
    display: inline-block;
    font-size: 4vmin;
    font-weight: 700;
}
.add{
    padding:2.5vmin;
    font-size:2.5vmin;
    border:none;
    border-radius: 1vmin;
    background-color: yellowgreen;
    transition:border-radius 0.5s ease-in-out 0s;
}
.add:hover{
    background-color: rgb(103, 139, 29);
    border-radius: 4vmin;
    cursor: pointer;
}
.add:active{
    background-color: yellowgreen;
}